.busName{

    padding-left:30px;
    padding-top: 30px;
    margin-bottom: -20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(219, 226, 226);
}
.btn1{
    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}

.btn1:hover{
    background-color: white;
    color: black;
    outline: auto;
}

.row{
    background-color: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
}
.secondColum{
    padding-left: 75px;
    padding-top: 120px;
}
.price{
    font-size: 50px;
}
.noPlate{
    padding-left: 30px;
    font-family:serif;
    font-weight: 100;
    font-size: 20px;
}
#img{
    padding-left: 50px;
    margin-top: -10px;
    margin-bottom: 40px;
}
.seatCount{
    margin-left: 100px;
    font-size: 100px;
}