body{
    background-color: rgb(219, 226, 226);
    background-image: url('map.webp');
    
}
.editContainer{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 35px;
    margin-bottom:20px;
    background-color: white;
    box-shadow: 1px 13px 60px 8px rgba(0,0,0,0.75);
    border-radius: 30px;
    max-width: 1010px;
}
.colum1{
    padding-left: 50px;
    padding-right: 10px;
}
.button{
    margin-left:40px;
    margin-top: 20px;
}
.header{
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 700;
}
.column2{
    padding-right: 50px;
    padding-left: 10px;
}
.button{
    width: 200px;
}