<?xml version="1.0" encoding="UTF-8"?>
<element>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SignIn</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.system.login.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.system.Index.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userProfile</display-name>
    <servlet-name>userProfile</servlet-name>
    <servlet-class>com.system.userProfile.userProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userProfile</servlet-name>
    <url-pattern>/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookedSeatServlet</display-name>
    <servlet-name>BookedSeatServlet</servlet-name>
    <servlet-class>com.system.bookSeat.BookedSeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookedSeatServlet</servlet-name>
    <url-pattern>/BookedSeatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketBookingServlet</display-name>
    <servlet-name>TicketBookingServlet</servlet-name>
    <servlet-class>com.system.ticketBooking.TicketBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketBookingServlet</servlet-name>
    <url-pattern>/TicketBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBusDetails</display-name>
    <servlet-name>UpdateBusDetails</servlet-name>
    <servlet-class>com.system.UpdateBusDetails.UpdateBusDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBusDetails</servlet-name>
    <url-pattern>/UpdateBusDetails</url-pattern>
  </servlet-mapping>
</web-app>
</element>